<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="base.class.php" >>
    <testsuites>
        <testsuite name="Infomaniak test suite">
            <directory suffix="Test.class.php">classes/db/</directory>
            <directory suffix="Test.class.php">classes/game/</directory>
            <!-- <directory suffix="Test.class.php">classes/application/</directory> -->
            <!-- <directory suffix="Test.class.php">classes/item_list/</directory> -->
            <!-- <directory suffix="Test.class.php">classes/storable/</directory> -->
        </testsuite>
    </testsuites>
</phpunit>
