<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="damarion.css" rel="stylesheet" />
        <title>Damarion - Home</title>
    </head>
    <body>
        <header>
            <h1>Damarion</h1>
        </header>

           <article>
                <h2>Question {{ question.get_id }} : {{ question.get_text }}</h2>
                {% for answer in answers %}
                    <p>{{ answer.get_text }}</p>
                {% endfor %}
            </article>

            <?php
                /*var_dump($games);
                var_dump($users);
                var_dump($votes);*/
            ?>

        <footer class="footer">
            <a href="#">Damarion</a>.
        </footer>
    </body>
</html>
